#contenedor{
    display: flex;
    background-color: rgb(230, 108, 209);
justify-content: center;
}

img{
    width: 100px;
}

body{
    background-image: url(https://w0.peakpx.com/wallpaper/272/879/HD-wallpaper-lit-killah-argentina-famosos-animados-killah-lit-lit-kila-litkillah-logos-music-trap.jpg);
}

.info{
    background-color: rgb(233, 111, 223);
    border: solid black;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;

}

.Letrachica{
    font-size: 25px;
    color: rgb(140, 0, 255);
}

.fechas{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(2, 0, 1);
}